.weather-card {
  padding: 0;
  width: 350px;
  height: 280px;
  margin: 10px;
  border-sg;
  box-shadow: 0 4px 5px 1px rgba(223, 228, 248, 0.6);
}

.weather-location {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.weather-graph {
  height: 100px;
}

.footer-statistic {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.temp-wrapper {
  display: flex;
  flex-direction: column;
}

.change-units {
  display: flex;
}

.split-slash {
  padding: 0 8px
}

.default {
  color: gray;
  cursor: pointer;
}

.select{
  width: 350px
}

.add-btn {
  width: 100px;
  margin-left: 16px
}

.country-title {
  font-weight: 700;
}

.weather-status-icon {
  margin-left: 8px
}

.deleteBtn {
  width: 10px;
  height:10px;
  position:absolute;
  right: 8px;
  top: 8px
}